body {
  font-size: 30px;
  background-color: black;
  color: white;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}